#Intellij stuff
.idea/
*.iml
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*~

# Molecular Data
*.npy
*.npz
*.txt
*.xyz

# Other
*.png
*.pdf
*.datatest
GSPA_DMC/tests/test_h3o/*